.product-list {
    margin: 0 -10px;
}

.product-list hr,
.product-item {
    margin: 0 10px 15px;
}

.product-item {
    float: left;
    text-align: center;
}

.product-item > img,
.product-item > a,
.product-item > span,
.product-item > del {
    display: block;
    width: 100%;
}

.product-item > a {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.6em;
}

.product-item > img {
    width: 160px;
}

#home .product-item > img {
    width: 170px;
}

#main-contents .price del {
    color: #b0b0b0;
    display: block;
}

.product-single img,
.product-cart img {
    float: left;
}

.product-single img {
    width: 350px;
    height: 350px;
}

.product-single .detail,
.product-cart .detail {
    float: left;
    margin-left: 15px;
}

.product-single .detail {
    width: 319px;
    font-size: 13px;
}

.product-single .meta {
    margin: 10px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid #ddd;
}

.product-single .meta dt {
    width: 80px;
}

.product-single .meta dd {
    padding-left: 95px;
}

.product-single .price del,
.product-single .price span {
    display: block;
}

.product-single .price span {
    line-height: 1.4em;
    font-size: 18px;
}

.product-cart {
    width: 100%;
    margin: 0 0 10px;
}

.product-cart .cart-title,
.product-cart .item {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #ddd;
}

.product-cart .item {
    width: 100%;
}

.product-cart img {
    width: 100px;
    height: 100px;
}

.product-cart .detail {
    width: 585px;
}

.product-cart .detail h4 {
    margin-bottom: 5px;
}

.product-cart .cart-action {
    margin-top: 10px;
}

.product-cart .total-text {
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    display: block;
}

.cart-form p {
    margin: 0;
}
